/*整体*/
body {
    margin: 0;
    background: #000;
    box-sizing: border-box;
    padding: 4px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: #ffffff solid 1px;
    box-sizing: border-box;
    padding: 4px;
    /*background: #6D717C;*/
    background: #AFC0DA;
    box-shadow: inset -1px -1px 1px 1px #ffffff;
}

/*头部*/
.header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-shadow: inset -1px -1px 1px 1px #ffffff;
    border: #000 solid 2px;
    border-bottom: none;
    border-right: none;
    /*background: #6D717C;*/
    background: #AFC0DA;
    font-size: 28px;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}

/*选项卡内容*/
.tab-content {
    width: 100%;
    /*height: 400px;*/
    background: #364D6F;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
}

.tab-group {
    width: 100%;
    display: flex;
    align-items: center;
}

.tab {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    background: #ECF2FD;
    color: #364D6F;
    margin-right: 10px;
    text-align: center;
    border-bottom: #364D6F solid 10px;
}

.active {
    color: #F3EFAC;
    background: #C4C8DD;
    border-bottom: #C4C8DD solid 10px;
}

.tab-item-border {
    width: 100%;
    background: #C4C8DD;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.tab-item {
    width: 100%;
    box-sizing: border-box;
    border: #7D8CA2 solid 4px;
    box-shadow: inset -1px -1px 1px 1px #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-item {
    width: 33%;
    height: 100%;
    border: #7D8CA2 solid 1px;
    box-sizing: border-box;
    padding: 4px;
}

.card-title {
    height: 40px;
    line-height: 40px;
    background: #F7B489;
    color: #98522E;
    text-align: center;
    font-size: 22px;
}

.card-tr {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 4px;
    justify-content: space-between;
    font-size: 22px;
}

.card-tr-l {
    background: #9AA7BA;
    padding:2px 6px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

.card-td-first {
    width: 33%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #2943B9;
    color: #ffffff;
}

.card-td-second {
    width: 32%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #000000;
    color: #B43D4D;
}

.card-td-third {
    width: 33%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #C4C8DD;
    color: #2943B9;
    box-shadow: inset -1px -1px 1px 1px #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.blue {
    background: #A4C6F0;
    color: #2943B9;
    border: #2943B9 solid 1px;
    box-sizing: border-box;
}

.card-td-l {
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    width: calc(50% - 64px);
    text-align: center;
    box-shadow: inset -1px -1px 1px 1px #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.card-td-s {
    width: 40px;
    height: 40px;
    box-shadow: inset 1px 1px 1px 1px #ffffff;
    /*box-shadow: inset -1px -1px 1px 1px #666666;*/
    border: #333333 solid 1px;
    padding: 6px;
    box-sizing: border-box;
}

.card-td-s img {
    width: 23px;
    height: 23px;
    box-shadow: inset 1px 1px 1px 1px #ffffff, 1px 1px 1px 1px #666666;
    border: #333333 solid 1px;
}

.unit {
    font-size: 14px;
    color: #B43D4D;
}

.btn-box {
    font-size: 18px;
    width: 33%;
    height: 61px;
    box-shadow: inset 1px 1px 1px 1px #ffffff;
    border: #333333 solid 1px;
    border-top: none;
    border-left: none;
    background: #E5EAFC;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-red {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: #F21523;
    box-shadow: inset -4px -4px 4px 4px #9C0F20, inset 4px 4px 4px 1px #ffffff;
    border: #333333 solid 1px;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-green {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: #6EF302;
    box-shadow: inset -4px -4px 4px 4px #1EBC0E, inset 4px 4px 4px 1px #ffffff;
    border: #333333 solid 1px;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-box {
    width: 33%;
    height: 61px;
    background: #1ABD01;
    box-shadow: inset -1px -1px 1px 1px #ffffff, inset 1px 1px 4px 1px #666666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background: #2943B9;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
    color: #ffffff;
}
