body {
    margin: 0;
    background: #000;
    box-sizing: border-box;
    padding: 0.25rem;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: #ffffff solid 1px;
    box-sizing: border-box;
    padding: 0.25rem;
    background: #AFC0DA;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
}

/*头部*/
.header {
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000 solid 2px;
    border-bottom: none;
    border-right: none;
    background: #AFC0DA;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0.625rem;
    text-align: center;
}

.header-land {
    width: 100%;
    height: 8.5rem;
    line-height: 8.5rem;
    font-size: 3.25rem;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000 solid 2px;
    border-bottom: none;
    border-right: none;
    background: #AFC0DA;
    font-weight: bolder;
    margin: 0.625rem;
    text-align: center;
}

.header-home {
    width: 100%;
    /* height: 8.5rem; */
    height: 100%;
    line-height: 8.5rem;
    font-size: 3.25rem;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000 solid 2px;
    border-bottom: none;
    border-right: none;
    background: #AFC0DA;
    font-weight: bolder;
    margin: 0.625rem;
    text-align: center;
}

/*选项卡内容*/
.tab-content {
    width: 100%;
    /*height: 25rem; */
    background: #364D6F;
    box-sizing: border-box;
    padding: 0.625rem 0.625rem 0 0.625rem;
}

.tab-group {
    width: 100%;
    display: flex;
    align-items: center;
}

.tab {
    width: 12.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.375rem;
    background: #ECF2FD;
    color: #364D6F;
    margin-right: 0.625rem;
    text-align: center;
    border-bottom: #364D6F solid 0.625rem;
}

.tab-land {
    width: 33%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    background: #ECF2FD;
    color: #364D6F;
    margin-right: 0.625rem;
    text-align: center;
    border-bottom: #364D6F solid 0.625rem;
}

.tabActive {
    width: 12.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.375rem;
    margin-right: 0.625rem;
    text-align: center;
    border-bottom: #364D6F solid 0.625rem;
    color: #F3EFAC;
    background: #C4C8DD;
    border-bottom: #C4C8DD solid 0.625rem;

}

.active {
    color: #F3EFAC;
    background: #C4C8DD;
    border-bottom: #C4C8DD solid 0.625rem;
}

.tab-item-border {
    width: 100%;
    background: #C4C8DD;
    padding: 0.625rem;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
}

.tab-item {
    width: 100%;
    box-sizing: border-box;
    border: #7D8CA2 solid 4px;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-item {
    width: 33%;
    height: 100%;
    border: #7D8CA2 solid 1px;
    box-sizing: border-box;
    padding: 0.25rem;
}

.card-item-land {
    width: 100%;
    height: 100%;
    border: #7D8CA2 solid 1px;
    box-sizing: border-box;
    padding: 0.25rem;
}

.card-title {
    height: 4.0rem;
    line-height: 4.0rem;
    background: #F7B489;
    color: #98522E;
    text-align: center;
    font-size: 2.0rem;
}

.card-title-land {
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    background: #F7B489;
    color: #98522E;
    text-align: center;
}

.card-tr {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    justify-content: space-between;
    font-size: 1.375rem;
}

.card-tr-l {
    background: #9AA7BA;
    padding: 0.125rem 0.375rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.375rem;
}

.card-td-first {
    width: 40%;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    background: #2943B9;
    color: #ffffff;
}

.card-td-first-land {
    width: 40%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    text-align: center;
    background: #2943B9;
    color: #ffffff;
}

.card-td-second {
    width: 40%;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    /* background: #000000;
    color: #B43D4D; */

    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1.125rem; */
    /* width: calc(50% - 4rem); */
    /* height: 2.5rem; */
    /* text-align: center; */
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.card-td-second-land {
    width: 40%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    text-align: center;
    /* background: #000000;
    color: #B43D4D; */

    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1.125rem; */
    /* width: calc(50% - 4rem); */
    /* height: 2.5rem; */
    /* text-align: center; */
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.card-td-third {
    width: 20%;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #C4C8DD;
    background: #2943B9;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.card-td-third-land {
    width: 20%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    text-align: center;
    color: #C4C8DD;
    background: #2943B9;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.blue {
    background: #A4C6F0;
    color: #2943B9;
    border: #2943B9 solid 1px;
    box-sizing: border-box;
}

.card-td-l {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    height: 2.5rem;
    width: calc(50% - 4rem);
    text-align: center;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #000000 solid 1px;
    border-bottom: none;
    border-right: none;
}

.card-td-s {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: inset 0.0625rem 0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #333333 solid 1px;
    padding: 0.375rem;
    box-sizing: border-box;
}

.card-td-s img {
    width: 1.4375rem;
    height: 1.4375rem;
    box-shadow: inset 0.0625rem 0.0625rem 0.0625rem 0.0625rem #ffffff, 0.0625rem 0.0625rem 0.0625rem 0.0625rem #666666;
    border: #333333 solid 1px;
}

.unit {
    font-size: 0.875rem;
    color: #B43D4D;
}

.btn-box {
    font-size: 1.125rem;
    width: 33%;
    height: 4.55rem;
    box-shadow: inset 0.0625rem 0.0625rem 0.0625rem 0.0625rem #ffffff;
    border: #333333 solid 1px;
    border-top: none;
    border-left: none;
    background: #E5EAFC;
    box-sizing: border-box;
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-red {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    background: #F21523;
    box-shadow: inset -0.25rem -0.25rem 0.25rem 0.25rem #9C0F20, inset 0.25rem 0.25rem 0.25rem 0.0625rem #ffffff;
    border: #333333 solid 1px;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-green {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    background: #6EF302;
    box-shadow: inset -0.25rem -0.25rem 0.25rem 0.25rem #1EBC0E, inset 0.25rem 0.25rem 0.25rem 0.0625rem #ffffff;
    border: #333333 solid 1px;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-box {
    width: 33%;
    height: 4.55rem;
    background: #1ABD01;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff, inset 0.0625rem 0.0625rem 0.25rem 0.0625rem #666666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background: #2943B9;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: right;
    box-sizing: border-box;
    padding-right: 1.875rem;
    color: #ffffff;
}

.tabView {
    display: none;
}

.show {
    display: block;
}

.blueTitle {
    height: 4.0rem;
    line-height: 4.0rem;
    background: #1028B0;
    color: #ffffff;
    text-align: center;
    font-size: 2.0rem;
}

.blueTitle-land {
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    background: #1028B0;
    color: #ffffff;
    text-align: center;
}

.card-td-two {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.card-td-two-title {
    text-align: center;
    width: 100%;
    margin-bottom: 0.625rem;
}

.card-td-two-lamp {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    box-sizing: border-box;
    background: #1ABD01;
    border: #ffffff solid 2px;
    box-shadow: inset -0.3625rem -0.3625rem 0.3625rem 0.3625rem rgba(0, 0, 0, 0.2);
}

.card-td-btn-access {
    width: 6.25rem;
    height: 2.5rem;
    background: #1ABD01;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff, inset 0.0625rem 0.0625rem 0.25rem 0.0625rem #666666;
    display: flex;
    align-items: center;
    color: #2943B9;
    justify-content: center;
}

.card-td-btn-wrong {
    width: 6.25rem;
    height: 2.5rem;
    background: #bd2703;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff, inset 0.0625rem 0.0625rem 0.25rem 0.0625rem #666666;
    display: flex;
    align-items: center;
    color: #2943B9;
    justify-content: center;
}

.card-td-two-title-land {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.625rem;
}

.card-td-two-lamp-land {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2.5rem;
    box-sizing: border-box;
    background: #1ABD01;
    border: #ffffff solid 2px;
    box-shadow: inset -0.3625rem -0.3625rem 0.3625rem 0.3625rem rgba(0, 0, 0, 0.2);
}

.card-td-btn-access-land {
    width: 61.8%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    background: #1ABD01;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff, inset 0.0625rem 0.0625rem 0.25rem 0.0625rem #666666;
    display: flex;
    align-items: center;
    color: #2943B9;
    justify-content: center;
}

.card-td-btn-wrong-land {
    width: 61.8%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    background: #bd2703;
    box-shadow: inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem #ffffff, inset 0.0625rem 0.0625rem 0.25rem 0.0625rem #666666;
    display: flex;
    align-items: center;
    color: #2943B9;
    justify-content: center;
}

.reset-btn-group {
    width: 100%;
    padding: 3.125rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn {
    width: 11.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background: #ECF2FD;
}

.reset-btn-land {
    width: 61.8%;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    text-align: center;
    background: #ECF2FD;
}